.homesec .hoheading h1 {
  font-weight: 600;
  font-size: 42px;
}

.homesec .hoheading p {
  font-weight: 400;
  font-size: 16px;
}

.homesec .commonjob {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1100px) {
  .homesec .commonjob {
    margin: 40px 200px;
  }
}

.homesec .commonjob span {
  font-weight: 400;
  font-size: 20px;
}

.homesec .commonjob .atextbox:nth-child(n) .fa-bullhorn {
  color: #ffc400;
}
.homesec .commonjob .atextbox:nth-child(2n) .fa-bullhorn {
  color: #3fa2f7;
}
.homesec .commonjob .atextbox:nth-child(3n) .fa-bullhorn {
  color: #56c568;
}
.homesec .commonjob .atextbox:nth-child(4n) .fa-bullhorn {
  color: #2075b2;
}
.homesec .commonjob .atextbox:nth-child(5n) .fa-bullhorn {
  color: #4c1dd4;
}
.homesec .commonjob .atextbox:nth-child(6n) .fa-bullhorn {
  color: #df4f69;
}
.homesec .commonjob .atextbox:nth-child(7n) .fa-bullhorn {
  color: #ed3434;
}
.homesec .commonjob .atextbox:nth-child(8n) .fa-bullhorn {
  color: #0faaa1;
}
.homesec .commonjob .atextbox:nth-child(9n) .fa-bullhorn {
  color: #e048be;
}

.homesec .featurehead {
  margin-top: 50px;
}

.homesec .featurehead h1 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}

.homesec .featurehead .cmpyimg img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.homesec .featurehead .cpmynme {
  font-weight: 600;
  font-size: 20px;
}

.homesec .featurehead .cpmydet {
  font-weight: 400;
  font-size: 16px;
}

.homesec .rolesjobs {
  margin-top: 50px;
}

.homesec .rolesjobs h1 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}

.homesec .rolesjobs .roledesc h5 {
  font-weight: 600;
  font-size: 18px;
}

.homesec .rolesjobs .roledesc span {
  font-weight: 400;
  font-size: 15px;
}

.homesec .rolesjobs .roledesc i {
  font-size: 13px;
}
